@mixin futura($size, $color){
	font-family:'futura', sans-serif;
	font-size:$size;
	color:$color;
}

@mixin futuraBold($size, $color){
	font-family:'futuraBold', sans-serif;
	font-size:$size;
	color:$color;
}

@mixin helvetica($size, $color){
	font-family:'helvetica', sans-serif;
	font-size:$size;
	color:$color;
}

@mixin clearfix(){
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}

	*zoom: 1;
}

.cf{
	@include clearfix;
}