// Box sizing, dammit
	*{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

// Colors
	$white: #fff;
	$black: #2f2f2f;
	$violet: #8d0e3a;
	$pale:#f6f5f5;
	$gold:#d3b795;
	$error:#d90a40;

// Fonts
	$mainFont: 'roboto', Arial, Helvetica, sans-serif;
	$altFont: 'robotoReg', Arial, Helvetica, sans-serif;