@import "compass/reset";
@import "compass/css3";

// Mixins
@import "fonts";
@import "variables";
@import "mixins";

// Plugins
@import "_parts/plugins/uniform";
@import "_parts/plugins/datepicker3";
@import "_parts/plugins/flexslider";
@import "_parts/plugins/magnificPopup";

// Parts
@import "_parts/grid";
@import "_parts/generalType";

	// Navigation tools (menus, sub-menus and so on)
	@import "_parts/menus/topBar";
	@import "_parts/menus/mainMenu";
	@import "_parts/menus/rituals";
	@import "_parts/menus/breadcrumbs";
	@import "_parts/menus/tunnel";

	// Everything about the forms
	@import "_parts/forms";

	// All sliders
	@import "_parts/slider";

	// Cards (non-primary content)
	@import "_parts/advice";
	@import "_parts/push";

	// Product displays
	@import "_parts/teaser";
	@import "_parts/recap";

	// Page structure
	@import "_parts/wysiwyg"; // Most elements filled by the user
	@import "_parts/tabs"; // Tab system

	// Product search results
	@import "_parts/searchResults";

	// Pop ins
	@import "_parts/popIns";

	// Footer elements
	@import "_parts/footer";

