@import "compass/reset";
@import "compass/css3";

// Mixins
@import "fonts";
@import "variables";
@import "mixins";

// Plugins
@import "_parts/plugins/uniform";
@import "_parts/plugins/datepicker3";
@import "_parts/plugins/flexslider";
@import "_parts/plugins/magnificPopup";

// Parts
@import "_parts/grid";
@import "_parts/generalType";

@import "_parts/menus/topBar";
@import "_parts/menus/mainMenu";

@import "_parts/forms";

@import "_parts/slider";

@import "_parts/popIns";

@import "_parts/footer";

