#mainNav.options{
	text-align:left;

	#mobileOff{
		display:none;
	}
	>ul{
		display:block;
		float:left;
		margin:0 auto;
		text-align: center;
		padding:0px 0px;
		position:relative;
		z-index:2;
		li{
			display:inline-block;
			a{
				@include futura(12px, $black);
				@include transition(all 300ms);
				text-decoration: none;
				text-transform: uppercase;
				position:relative;
				text-align:center;
				display:block;
				padding:0 15px;
				&:after{
					@include transition(all 300ms);
					content:"";
					display:block;
					width:15px;
					height:0px;
					background:$violet;
					position:absolute;
					bottom:10px;
					left:50%;
					margin-left:-7.5px;
					z-index:99;
				}
				&:hover, &.active{
					color:$violet;
					&:after{
						height:2px;
					}
				}
			}
		}
	}
	#rituals{
		@include transition(all 300ms ease-out);
		overflow: hidden;
		display:block;
		width:100%;
		top:50px;
		left:0px;
		max-height:0px;
		margin:0 auto;
		padding:0px 35px 0px 35px;
		position:absolute;
		z-index:-1;
		background:$white;
		background:rgba(250, 250, 250, 0.9);
		text-align:left;
		.center{
			width: 100%;
			max-width:984px;
			margin:0 auto;
		}
		.mobileOn{
			display:none;
		}
		h3{
			@include futura(16px, $gold);
			text-transform: uppercase;
			margin:0px 0px 20px 0px;
			line-height: 1.3em;
		}
		ul{
			max-width:$mobile;
			li{
				float:left;
				width:50%;
				a{
					@include futuraBold(12px, #626262);
					@include transition(all 300ms);
					text-transform: uppercase;
					text-decoration: none;
					line-height:1.8em;
					&:hover, &.active{
						color:$violet;
					}
				}
			}
		}

	}


	&.expended{
		#rituals{
			max-height: 249px;
			padding:80px 35px 45px 35px;
		}
	}


	// Mobile version

	@media only screen and (max-width: 1030px){
		@include transition(all 300ms);
		padding-top:50px;
		position:fixed;
		left:-300px;
		top:0px;
		height:100%;
		width:95%;
		max-width:300px;
		background:#2f2f2f;
		z-index:100;

		#mobileOff{
			@include border-radius(99px);				
			@include transition(all 300ms);
			display:block;
			width:40px;
			height:40px;
			background:$violet url("../img/close.png") center center no-repeat;
			position:absolute;
			top:5px;
			right:5px;
			cursor: pointer;
			border:0px;
			overflow: hidden;
			text-indent:-9999px;
			z-index:101;
			&:active, &:focus{
				outline:0px;
			}
		}
		ul{
			display:block;
			width:100%;
			padding:20px 15px;
			overflow:auto;
			li{
				display:block;
				float:none;
				border:0px;
				&:first-child{
					border:0px;
				}
				a{
					@include futuraBold(12px, $white);
					color:$white;
					text-align:left;
					padding:0px;
					font-size:15px;
					margin-bottom:20px;
					display:block;
					height:auto;
					line-height:1.3em;
					&:after{
						background:$gold;
						height:100%;
						bottom:auto;
						top:0px;
						width:0px;
						left:0px;
					}
					&:hover, &.active{
						background:transparent;
						color:$white;
						padding-left:10px;
						&:after{
							height: 100%;
							width:5px;
						}
					}
					&.flyout{
						&:before{
							@include transition(all 300ms);
							@include PE();
							width:0px;
							height:20px;
							right:5px;
							@include border-radius(99px);
							background:$white url("../img/smallDownArrow.png") center center no-repeat;
							margin-top:-9.5px;
							@include transform(rotate(90deg));
						}
						&.active{
							&:before{
								display:none;
							}
						}
					}
				}
			}
		}

		&.mobileOpen{
			left:0px;
			#mobileOff{
				right:-5px;
			}
		}

		#rituals{
			max-height:9999px;
			height:100%;
			position:absolute;
			top:0px;
			left:-100%;
			width:100%;
			background:#2f2f2f;
			padding:15px;
			#back{
				@include futura(12px, $white);
				margin:15px 0px;
				position:relative;
				padding-left:20px;
				text-decoration: none;
				text-transform: uppercase;
				line-height: 1.5em;
				&:before{
					content:"";
					display:block;
					width:12px;
					height:18px;
					background:url("../img/backArrow.png") center center no-repeat;
					position:absolute;
					top:50%;
					left:0px;
					margin-top:-9px;
				}
			}
			.menuTitle{
				font-family: "futuraBold";
				color:#fff;
				text-align: center;
				position:relative;
				&:after{
					content:"";
					display:block;
					width:15px;
					height:2px;
					background:#fff;
					position:absolute;
					bottom:-3px;
					left:50%;
					margin-left:-7.5px;
				}
			}

			.mobileOn{
				display:block;
			}

			ul{
				padding:0px;
				li{
					float:none;
					width:80%;
					a{
						@include futuraBold(13px, #cccaca);
						margin-bottom:15px;
						line-height: 1.3em;
						&.active, &:hover{
							border-left: 5px solid $gold;
							padding-left: 10px;
							color:#cccaca;
						}
					}
				}
			}
		}
		

		&.expended{
			#rituals{
				padding:15px;
				max-height: 9999px;
				left:0px;
				z-index:100;
			}
		}
	}
}

#contents{
	@include transition(padding 300ms);
	padding:0px;
	&.push{
		padding-top:100px;
	}

	@media only screen and (max-width:$tablet){
		&.push{
			padding-top:0px;
		}
	}
}

.mainLogo{
	position:absolute;
	top:80px;
	left:50%;
	margin-left:-70px;
	z-index:99;
}