#mainNav{
	position:absolute;
	top:40px;
	left:0px;
	z-index:98;
	width:100%;
	padding:20px 5px;
	text-align:center;
	.mainLogo{
		display:inline;
		position:relative;
		z-index:2;
	}
	.screen{
		@include transition(all 300ms);
		position:absolute;
		z-index:1;
		width:100%;
		bottom:0px;
		left:0px;
		height:100%;
		background:transparent;
		display:block;
	}
	.navigate{
		#mobileOff{
			display:none;
		}
		>ul{
			display:block;
			width:100%;
			max-width:784px;
			margin:0 auto;
			text-align: center;
			padding:35px 0px;
			position:relative;
			z-index:2;
			li{
				display:inline-block;
				&:first-child a{
					padding-left:0px;
				}
				&:last-child a{
					padding-right:0px;
				}
				a{
					@include futuraBold(12px, $black);
					@include transition(all 300ms);
					text-decoration: none;
					text-transform: uppercase;
					position:relative;
					text-align:center;
					display:block;
					padding:0 15px;
					&:after{
						@include transition(all 300ms);
						content:"";
						display:block;
						width:15px;
						height:0px;
						background:$violet;
						position:absolute;
						bottom:-3px;
						left:50%;
						margin-left:-7.5px;
					}
					&:hover, &.active{
						color:$violet;
						&:after{
							height:2px;
						}

					}
				}
			}
		}
		#rituals{
			@include transition(all 300ms ease-out);
			overflow: hidden;
			display:block;
			max-height:0px;
			width:100%;
			max-width:784px;
			margin:0 auto;
			padding:0 35px;
			position:relative;
			z-index:2;
			text-align:left;
			.mobileOn{
				display:none;
			}
			h3{
				@include futura(16px, $gold);
				text-transform: uppercase;
				margin:0px 0px 20px 0px;
				line-height: 1.3em;
			}
			ul{
				max-width:$mobile;
				li{
					float:left;
					width:50%;
					a{
						@include futuraBold(12px, #626262);
						@include transition(all 300ms);
						text-transform: uppercase;
						text-decoration: none;
						line-height:1.8em;
						&:hover, &.active{
							color:$violet;
						}
					}
				}
			}

		}
	}


	&.expended{
		.screen{
			background:$white;
		}
		.navigate{
			#rituals{
				max-height:300px;
			}
		}
	}


	// Mobile version

	@media only screen and (max-width: $tablet){
		.screen{
			display:none;
		}
		.navigate{
			@include transition(all 300ms);
			padding-top:50px;
			position:fixed;
			left:-300px;
			top:0px;
			height:100%;
			width:95%;
			max-width:300px;
			background:#2f2f2f;
			z-index:100;

			#mobileOff{
				@include border-radius(99px);
				@include transition(all 300ms);
				display:block;
				width:48px;
				height:48px;
				background:$violet url("../img/close.png") center center no-repeat;
				position:absolute;
				top:5px;
				right:5px;
				cursor: pointer;
				border:0px;
				overflow: hidden;
				text-indent:-9999px;
				z-index:101;
				&:active, &:focus{
					outline:0px;
				}
			}
			ul{
				display:block;
				width:100%;
				padding:20px 15px;
				overflow:auto;
				li{
					display:block;
					a{
						color:$white;
						text-align:left;
						padding:0px;
						font-size:15px;
						margin-bottom:20px;
						display:block;
						&:after{
							left:10px;
						}
					}
				}
			}

			&.mobileOpen{
				left:0px;
				#mobileOff{
					right:-5px;
				}
			}

			#rituals{
				max-height:9999px;
				height:100%;
				position:absolute;
				top:0px;
				left:-100%;
				width:100%;
				background:#2f2f2f;
				padding:15px;
				#back{
					@include futura(12px, $white);
					margin:15px 0px;
					position:relative;
					padding-left:20px;
					text-decoration: none;
					text-transform: uppercase;
					line-height: 1.5em;
					&:before{
						content:"";
						display:block;
						width:12px;
						height:18px;
						background:url("../img/backArrow.png") center center no-repeat;
						position:absolute;
						top:50%;
						left:0px;
						margin-top:-9px;
					}
				}
				.menuTitle{
					font-family: "futuraBold";
					color:$violet;
					text-align: center;
					position:relative;
					&:after{
						content:"";
						display:block;
						width:15px;
						height:2px;
						background:$violet;
						position:absolute;
						bottom:-3px;
						left:50%;
						margin-left:-7.5px;
					}
				}

				.mobileOn{
					display:block;
				}

				ul{
					padding:0px;
					li{
						float:none;
						width:80%;
						a{
							@include futuraBold(13px, #cccaca);
							margin-bottom:10px;
							line-height: 1.2em;
						}
					}
				}
			}
		}

		&.expended{
			.navigate{
				#rituals{
					max-height: 9999px;
					left:0px;
				}
			}
		}
	}
}

#contents{
	@include transition(padding 300ms);
	padding:0px;
	&.push{
		padding-top:100px;
	}

	@media only screen and (max-width:$tablet){
		&.push{
			padding-top:0px;
		}
	}
}