#recallRituals{
	ul{
		@include transition(all 300ms ease-out);
		overflow: hidden;
		display:block;
		width:100%;
		margin:0 auto;
		padding:30px 0px;
		position:relative;
		z-index:2;
		text-align:left;
		li{
			float:left;
			width:40%;
			margin-bottom:5px;
			a{
				@include futuraBold(12px, #626262);
				@include transition(all 300ms);
				text-transform: uppercase;
				text-decoration: none;
				line-height:1.8em;
				&:hover, &.active{
					color:$violet;
				}
			}
		}
	}

	#toggle{
		display:none;
	}

	@media only screen and (max-width: $tablet){
		
		ul{
			max-height:150px;
			overflow:hidden;
			padding:0px;
			margin-bottom:10px;
			position:relative;
			&:before, &:after{
				@include PE();
				height:69px;
				width:100%;
			}
			&:before{
				background:url("../img/topGradiant.png") top left repeat-x;
				top:0px;
				left:0px;
			}
			&:after{
				background:url("../img/bottomGradiant.png") top left repeat-x;
				top:auto;
				bottom:0px;
				left:0px;
			}
			li{
				width:100%;
				float:none;
			}
			&.open{
				max-height:300px;
				&:before, &:after{
					display:none;
				}
			}
		}

		#toggle{
			display:block;
			background:transparent url("../img/downArrow.png") center center no-repeat;
			width:40px;
			height:30px;
			margin:0 auto 30px auto;
			overflow: hidden;
			text-indent: -99999px;
			border:0px;
			cursor: pointer;
			outline:0px;
			&:hover{
				background:transparent url("../img/downArrowHover.png") center center no-repeat;
			}
			&.reverse{
				background:transparent url("../img/upArrow.png") center center no-repeat;
			}
		}
	}
}