#topBar{
	height:40px;
	background-color:$white;
	border-bottom:1px solid #acacac;
	section{
		width:100%;
		max-width:964px;
		margin:0 auto;
		padding:0 5px;
		#mobileOn{
			display:none;
		}
		> ul{
			text-align:right;
			float:right;
			line-height:43px;
			vertical-align: middle;

			@include inline-block();
			> li{
				float:left;
				text-align:center;
				border-right:1px solid #acacac;
				position:relative;
				&:first-child{
					border-left:1px solid #acacac;
				}
				a{
					@include futura(11px, $black);
					@include transition(all 300ms);
					display:block;
					height:39px;
					padding:0 20px;
					text-decoration: none;
					text-transform: uppercase;
					position:relative;
					&#user{
						padding:0 20px 0 40px;
						overflow: visible;
						&:before{
							content:"";
							display:block;
							width:12px;
							height:15px;
							background: url("../img/user.png") center center no-repeat;
							position:absolute;
							top:50%;
							left:20px;
							margin-top:-7.5px;
						}
						&:after{
							@include transition(all 300ms);
							opacity:0;
							display:block;
							content:"";
							width:15px;
							height:8px;
							background:url('../img/dropdownArrow.png') center center no-repeat;
							position:absolute;
							bottom:-19px;
							left:50%;
							margin-left:-7.5px;
							z-index:99;
						}
						&.expended{
							&:after{
								opacity:1;
								bottom:-10px;
							}
						}
					}
					&#basket{
						padding:0 20px 0 40px;
						&:before{
							content:"";
							display:block;
							width:12px;
							height:16px;
							background: url("../img/cart.png") center center no-repeat;
							position:absolute;
							top:50%;
							left:20px;
							margin-top:-8px;
						}
						span.total{
							font-size:14px;
							margin-right:5px;
						}
					}
					&#currentLanguage{
						@include futuraBold(11px, $black);
						padding:0 40px 0 20px;
						&:after{
							content:"";
							display:block;
							width:20px;
							height:5px;
							background: url("../img/smallDownArrow.png") center center no-repeat;
							position:absolute;
							top:50%;
							right:15px;
							margin-top:-1.5px;
						}
						&:before{
							@include transition(all 300ms);
							opacity:0;
							display:block;
							content:"";
							width:15px;
							height:8px;
							background:url('../img/dropdownArrow.png') center center no-repeat;
							position:absolute;
							bottom:-19px;
							left:50%;
							margin-left:-7.5px;
							z-index:99;
						}
						&.expended{
							&:before{
								opacity:1;
								bottom:-10px;
							}
						}
					}
					&:hover, &.active, &:focus{
						background-color:$pale;
					}
				}
				> ul{
					display:none;
					max-height:0px;
					overflow: hidden;
					position:absolute;
					z-index:99;
					top:49px;
					border:1px solid #acacac;
					min-width:100%;
					background:#fff;

					&#log{
						width:150%;
						left:-25%;
						padding-bottom:5px;
						h3{
							background:$gold;
							@include futuraBold(10px, $white);
							text-transform: uppercase;
							padding:0 5px;
							line-height:30px;
							margin:0px 0px 10px 0px;
							text-align:center;
						}
						li{
							text-align:left;
							line-height:1;
							a{
								display:inline;
								@include futura(12px, $violet);
								padding:0px;
								text-transform: none;
								top:-5px;
								position:relative;
								&:hover{
									background:transparent;
									color:$black;
									text-decoration: underline;
								}
							}
							p{
								@include futura(13px, $gold);
								line-height:1.3em;
								margin-bottom:15px;
							}
						}
						form{
							padding:10px;
							label, input{
								display:block;
								margin-bottom:5px;
							}
							label{
								@include futura(13px, $black);
							}
							input[type="text"], input[type="password"]{
								@include box-shadow(0px 0px 0px transparent);
								@include border-radius(5px);
								@include futura(13px, $black);
								height:40px;
								-webkit-appearance: none;
								background:$pale;
								border:0px;
								width:100%;
								padding:0px 10px;
								margin-bottom:10px;
								&:active, &:focus{
									outline:0px;
									border:1px solid $gold;
								}
							}
							input[type="submit"]{
								@include futura(12px, $white);
								@include border-radius(3px);
								-webkit-appearance: none;
								border:0px;
								background:$violet;
								text-transform: uppercase;
								display:block;
								height:30px;
								padding:0px 10px;
								margin:10px auto 0px auto;
								width:90%;
								cursor:pointer;
								border:1px solid $violet;
								@include transition(all 300ms);
								&:hover{
									background:$pale;
									color:$violet;
								}
								&:active{
									position:relative;
									top:1px;
								}
								&:active, &:focus{
									outline:0px;
								}
							}
							&#signUp{
								input[type="submit"]{
									margin-top: 20px;
								}
							}
						}
					}
				}
			}
		}
	}


	// Mobile behaviour

	@media only screen and (max-width: 780px){
		height:50px;
		section{
			padding:0px 0px 0px 10px;
			line-height:50px;
			.mobileOff{
				display:none !important;
			}
			#mobileOn{
				@include transition(all 300ms);
				display:block;
				float:left;
				border:0px;
				-webkit-appearance: none;
				background:url('../img/hamburger.png') center center no-repeat;
				height:40px;
				width:40px;
				cursor:pointer;
				text-indent:-999px;
				overflow:hidden;
				position:relative;
				top:3px;
				&:active, &:focus{
					background:$pale url('../img/hamburger.png') center center no-repeat;
					outline:0px;
				}
			}
			> ul{
				line-height:55px;
				> li{
					position:static;
					> a{
						height:49px;
						&#user{
							padding:0 20px 0 40px;
							overflow: visible;
							&:before{
								width:30px;
								height:37px;
								background: url("../img/userXL.png") center center no-repeat;
								background-size:20px 24.66px;
								position:absolute;
								left:15px;
								margin-top:-17.5px;
							}
						}
						&#basket{
							padding:0 20px 0 60px;
							&:before{
								width:28px;
								height:37px;
								background: url("../img/cartXL.png") center center no-repeat;
								background-size:18px 24.66px;
								left:20px;
								margin-top:-17.5px;
							}
							span.total{
								font-size:25px;
								margin-right:0px;
							}
						}
						&#currentLanguage{
							@include futuraBold(20px, $black);
							padding:0 45px 0 20px;
							&:after{
								width:31px;
								height:20px;
								background: url("../img/largeDownArrow.png") center center no-repeat;
								background-size:15px 10px;
								right:10px;
								margin-top:-8px;
							}
						}
					}

					> ul{
						display:none;
						max-height:0px;
						overflow: hidden;
						position:absolute;
						top:59px;
						left:5%;
						z-index:99;
						border:1px solid #acacac;
						min-width:90%;
						width:90%;
						background:#fff;

						&#log{
							width:90%;
							left:5%;
							padding-bottom:5px;
						}

						&#languages{
							line-height:40px;
						}
					}
				}
			}
		}
	}
}