// Sticky footer
	html, body {
		height: 100%;
	}
	#wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
	}

	#push{
		margin:0px;
	}
	#footer, #push {
		border:0px;
	}

// Contents
	#footer{
		.right{
			float:right;
		}
		.left{
			float:left;
		}
		#footerNav{
			ul{
				text-align:right;
				padding:35px 0px 25px 0px;
				vertical-align: top;
				li{
					float:left;
					display:block;
					width:25%;
					margin:0px 0px 15px 0px;
					text-align:left;
					padding-right:40px;
					a{
						@include futura(15px, $violet);
						@include transition(all 300ms);
						text-transform: uppercase;
						text-align:left;
						text-decoration: none;
						&:hover, &:focus{
							color:$black;
							text-decoration: underline;
						}
					}
				}
			}

			@media all and (max-width: $tablet){
				ul{
					padding:20px 0px 5px 0px;
					li{
						float:none;
						width:100%;
						padding:0 10px;
						a{
							display:block;
							text-align:center;
						}
					}
				}
			}
		}

		h3, h4{
			@include futura(14px, #979794);
			text-transform: uppercase;
			margin-bottom:15px;
			a{
				text-decoration: none;
				@include futura(14px, #979794);
				
				@media all and (max-width: $tablet){
					border-bottom:1px solid #555555;
					display:block;
					padding:0px 0px 10px 0px;
					background:url('../img/cross.png') top right no-repeat;
					line-height:19px;
					&.active{
						background:url('../img/minus.png') top right no-repeat;
					}
				}
			}
		}
		h4{
			font-size:10px;
		}

		ul{
			li{
				margin-bottom: 10px;
				a{
					@include futura(14px, #979794);
					@include transition(all 300ms);
					text-decoration: none;
					&:hover{
						color:$pale;
						text-decoration: underline;
					}
				}
				
			}
			@media all and (max-width: $tablet){
				&.show{
					margin-bottom: 30px;
				}
			}
		}
		#facebookFans{
			a{
				@include futura(30px, #3c58aa);
				text-decoration: none;
				background:url("../img/fbIcon.png") center left no-repeat;
				padding-left:35px;
			}
			@media all and (max-width: $tablet){
				margin-bottom:30px;
			}
		}

		#newsletter{
			padding:0px 60px 0px 0px;
			position:relative;
			input[type="submit"]{
				position:absolute;
				top:-19px;
				right:60px;
				height:40px;
				width:40px;
				padding:0px;
				background:transparent url('../img/uniform/formArrow.png') center center no-repeat;
				overflow: hidden;
				text-indent:-999px;
				&:hover{
					background:transparent url('../img/uniform/formArrowHover.png') center center no-repeat;
				}
			}
			p.feedback{
				font-size:12px;
				line-height:1.2;
				color:white;
			}
			@media all and (max-width: $tablet){
				padding:0px;
				&.show{
					margin-bottom: 30px;
				}
				input[type="submit"]{
					margin-top:0px;
					top:0px;
					right: 0px;
				}
			}
		}

		#cautions{
			border-bottom:1px solid #555555;
			ul{
				display:block;
				vertical-align: top;
				li{
					@include inline-block();
					vertical-align: top;
					margin-right:15px;
					h4{
						position:relative;
						top:1px;
					}
					a{
						display:block;
					}
					&.card{
						margin-right:0px;
					}

					&.madeBy{
						a{
							display:inline;
							font-size:10px;
						}
					}
				}
			}

			@media all and (max-width: $tablet){
				padding:0 10px;
			}
		}

		#credits{
			padding-top:10px;
			p{
				@include futura(10px, #979794);
				@include transition(all 300ms);
				text-decoration: none;
				text-transform: uppercase;
				height:30px;
				line-height:20px;
			}
			ul{
				li{
					@include inline-block();
					height:30px;
					line-height:20px;
					margin:0px;
					a{
						@include futura(10px, #979794);
						@include transition(all 300ms);
						text-decoration: none;
						text-transform: uppercase;
						&:hover{
							color:$pale;
							text-decoration: underline;
						}
					}
				}
			}
			@media all and (max-width: $tablet){
				padding:10px;
				.left{
					float:none;
					width:100%;
					text-align:center;
				}
			}
		}

		@media all and (max-width: $tablet){
			.mobileOff{
				display:none !important;
			}
		}
	}