// Sticky footer
	html, body {
		height: 100%;
	}
	#wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
	}

	#push{
		margin-top:50px;
	}
	#footer, #push {
		border:0px;
	}

// Contents
	#footer{
		.right{
			float:right;
		}
		.left{
			float:left;
		}
		#footerNav{
			ul{
				text-align:right;
				padding:35px 0px 25px 0px;
				vertical-align: top;
				li{
					float:left;
					display:block;
					width:25%;
					margin:0px 0px 15px 0px;
					text-align:left;
					padding-right:40px;
					a{
						@include futura(15px, $violet);
						@include transition(all 300ms);
						text-transform: uppercase;
						text-align:left;
						text-decoration: none;
						&:hover, &:focus{
							color:$black;
							text-decoration: underline;
						}
					}
				}
			}

			@media all and (max-width: 780px){
				ul{
					li{
						float:none;
						width:100%;
						padding:0 10px;
						a{
							display:block;
							text-align:center;
						}
					}
				}
			}
		}

		h3, h4{
			@include futura(14px, #979794);
			text-transform: uppercase;
			margin-bottom:15px;
			a{
				text-decoration: none;
				@include futura(14px, #979794);
				
				@media all and (max-width: 780px){
					border-bottom:1px solid #555555;
					display:block;
					padding:0px 0px 10px 0px;
					background:url('../img/cross.png') top right no-repeat;
					line-height:19px;
					&.active{
						background:url('../img/minus.png') top right no-repeat;
					}
				}
			}
		}
		h4{
			font-size:10px;
		}

		ul{
			li{
				margin-bottom: 10px;
				a{
					@include futura(14px, #979794);
					@include transition(all 300ms);
					text-decoration: none;
					&:hover{
						color:$pale;
						text-decoration: underline;
					}
				}
				&#facebookFans{
					a{
						@include futura(30px, #3c58aa);
						text-decoration: none;
						background:url("../img/fbIcon.png") center left no-repeat;
						padding-left:35px;
					}
				}
			}
			@media all and (max-width: 780px){
				&.show{
					margin-bottom: 30px;
				}
			}
		}

		#newsletter{
			padding:0px 60px 0px 0px;
			position:relative;
			input[type="submit"]{
				position:absolute;
				bottom:0px;
				right:60px;
				height:40px;
				width:40px;
				padding:0px;
				background:transparent url('../img/uniform/formArrow.png') center center no-repeat;
				overflow: hidden;
				text-indent:-999px;
			}
			@media all and (max-width: 780px){
				padding:0px;
				&.show{
					margin-bottom: 30px;
				}
				input[type="submit"]{
					margin-top:0px;
					bottom:14px;
					right: 0px;
				}
			}
		}

		#cautions{
			border-bottom:1px solid #555555;
			.left{
				ul{
					li:last-child{
						border-left:1px solid #555555;
						padding-left:15px;
					}
				}
			}
			ul{
				display:block;
				vertical-align: top;
				li{
					@include inline-block();
					vertical-align: top;
					margin-right:15px;
					h4{
						position:relative;
						top:1px;
					}
					a{
						display:block;
					}
					&.card{
						margin-right:0px;
					}
				}
			}

			@media all and (max-width: 780px){
				padding:0 10px;
			}
		}

		#credits{
			padding-top:10px;
			a{
				@include futura(10px, #979794);
				@include transition(all 300ms);
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					color:$pale;
					text-decoration: underline;
				}
			}
			ul{
				li{
					@include inline-block();
				}
			}
			@media all and (max-width: 780px){
				padding:10px;
				.left{
					float:none;
					width:100%;
					text-align:center;
				}
			}
		}

		@media all and (max-width: 780px){
			.mobileOff{
				display:none !important;
			}
		}
	}