.form{
	padding:30px;
	&.formSwitcher{
		padding-bottom:0px;
	}
	&.formPanel{
		padding-top:0px;
	}
	h2, h3{
		@include futura(18px, #363636);
	}

	// Labels and type
		label{
			@include futura(14px, $black);
			display:block;
			margin-bottom:15px;
			&.inline{
				display: inline;
			}
		}
		p.info{
			margin:5px 0px 20px 0px;
			@include futuraBold(14px, $black);
			text-transform: uppercase;
		}

	// Inputs (text, password, date, validate)
		input{
			&[type='text'], &[type='password']{
				@include box-shadow(0px 0px 0px transparent);
				@include border-radius(5px);
				@include futura(13px, $black);
				height:40px;
				-webkit-appearance: none;
				background:$white;
				border:0px;
				padding:0px 10px;
				margin-bottom:10px;
				display:block;
				width:100%;
				margin-bottom:15px;
				&:active, &:focus{
					outline:0px;
					border:1px solid $gold;
				}
				&.parsley-error{
					border:1px solid $error;
				}
				&.inline{
					@include inline-block();
					width:auto;
				}
				&.euros{
					background:$white url('../img/uniform/euro.jpg') center right no-repeat;
					padding-right:35px;
				}
			}

			&.datepicker{
				padding-right:30px;
				background:$white url("../img/datepicker.png") center right no-repeat;
			}

			&[type='submit']{
				@include futuraBold(12px, $white);
				@include border-radius(3px);
				@include transition(all 300ms);
				@include box-shadow(0px 0px 0px transparent);
				border:0px;
				-webkit-appearance: none;
				background:$violet;
				text-transform: uppercase;
				text-align: center;
				padding:10px 40px;
				display:block;
				margin:20px auto 0px auto;
				cursor: pointer;
				&:hover{
					background:$gold;
					color:$black;
					border:0px;
				}
				&.block{
					display:block;
					height:40px;
					padding:0px;
					text-align: center;
					width:100%;
					margin:0px 0 15px 0;
				}
			} 

			&[type='checkbox'], &[type='radio']{
				margin-bottom:15px;
			}
		}

	// Radio and checkboxes
		.radio, .checker{
			margin-bottom:15px;
			span.parsley-error{
				border:1px solid $error;
			}
		}
		.radio{
			span.parsley-error{
				@include border-radius(99px);
			}
		}

	// Select inputs
		select, .selector{
			@include border-radius(3px);
			@include futura(13px, $black);
			background-color:$white;
			width:100% !important;
			margin-bottom:15px;
		}
		.selector{
			overflow: visible;
			select{
				margin-bottom:0px;
				height:40px;
				cursor: pointer;
			}
			span{
				position: relative;
				top: 2px;
			}
			&.parsley-error{
				border:1px solid $error;
				span{
					top:0px;
				}
			}
		}

	// When inline inputs and labels are needed
		.inline{
			@include clearfix();
			margin-bottom:15px;
			label, input, select, .selector{
				display:inline;
				margin-bottom: 0px;
			}
			.radio, .checker{
				margin-bottom:0px;
			}
			label{
				margin-right:15px;
				&.lineLabel{
					margin-right: 30px;
				}
			}
			input{
				&[type='text'], &[type='password']{
					width:auto;
				}
			}

			.parsley-errors-list{
				position:relative;
				top:5px;
			}
		}

	// Rules when the form has a white background
		&.bgWhite{
			input{
				&[type='text'], &[type='password']{
					background-color:$pale;
				}
			}
			select, .selector{
				background-color:$pale;
			}

			div#{$class-wrapper}#{$class-checkbox} {
				span {
					background-image:url("../img/uniform/spritePale.png");	
				}

			}

			/* Radio */

			div#{$class-wrapper}#{$class-radio} {
				span {
					background-image:url("../img/uniform/spritePale.png");	
				}
			}
		}

	// Form validation
		.parsley-errors-list{
			position:relative;
			padding:0px;
			top:-5px;
			display:block;
			clear:both;
			li{
				@include futura(12px, $error);
				margin:0px 0px 15px 0px;
			}
		}
}

// Specific forms
	#mainForm{
		margin-bottom:50px;
		border-left:1px solid #d5d5d5;
		position:relative;
		z-index:4;
		#giftForm{
			.form{
				padding:0px;
			}
		}
		@media only screen and (max-width:$tablet){
			border:0px;
			margin-bottom:15px;
		}
	}