.form{
	padding:30px;
	&.formSwitcher{
		padding-bottom:0px;
	}
	&.formPanel{
		padding-top:0px;
	}
	&.pad10{
		padding:10px 30px;;
	}
	&.pad0{
		padding:0px !important;
	}
	h2, h3{
		@include futura(18px, #363636);
	}

	// Labels and type
		label{
			@include futura(14px, $black);
			display:block;
			margin-bottom:15px;
			a{
				color:$violet;
				&:hover{
					color:$black;
				}
			}
			&.inline{
				display: inline;
			}
		}
		p.info{
			margin:5px 0px 20px 0px;
			@include futuraBold(14px, $black);
			text-transform: uppercase;
		}
		p.small{
			margin:5px 0px;
			@include futura(12px, $black);
			font-style:italic;
		}
		p.success{
			margin:25px 0px 15px 0px;
			@include futura(14px, #0e8d5f);
			text-align: center;
		}

	// Inputs (text, password, date, validate)
		input{
			&[type='text'], &[type='email'], &[type='password']{
				@include box-shadow(0px 0px 0px transparent);
				@include border-radius(5px);
				
				@include futura(13px, $black);
				height:40px;
				-webkit-appearance: none;
				background:$white;
				border:0px;
				padding:0px 10px;
				margin-bottom:10px;
				display:block;
				width:100%;
				margin-bottom:15px;
				&:active, &:focus{
					outline:0px;
					border:1px solid $gold;
				}
				&.parsley-error{
					border:1px solid $error;
				}
				&.inline{
					@include inline-block();
					width:auto;
				}
				&.euros{
					background:$white url('../img/uniform/euro.jpg') center right no-repeat;
					padding-right:35px;
					text-align:right;
				}
			}

			&.datepicker{
				padding-right:30px;
				background:$white url("../img/datepicker.png") center right no-repeat;
			}

			&[type='submit']{
				@include futuraBold(12px, $white);
				@include border-radius(3px);
				
				@include transition(all 300ms);
				@include box-shadow(0px 0px 0px transparent);
				border:0px;
				-webkit-appearance: none;
				background:$violet;
				text-transform: uppercase;
				text-align: center;
				padding:10px 40px;
				display:block;
				margin:20px auto 0px auto;
				cursor: pointer;
				&:hover{
					background:$gold;
					color:$black;
					border:0px;
				}
				&:active, &:focus{
					outline:0;
				}
				&.block{
					display:block;
					height:40px;
					padding:0px;
					text-align: center;
					width:100%;
					margin:0px 0 15px 0;
				}
			} 

			&[type='checkbox'], &[type='radio']{
				margin-bottom:15px;
			}
		}

	// Radio and checkboxes
		.radio, .checker{
			margin-bottom:15px;
			span.parsley-error{
				border:1px solid $error;
			}
		}
		.radio{
			span.parsley-error{
				@include border-radius(99px);
				
			}
		}

	// Select inputs
		select, .selector{
			@include border-radius(3px);
			
			@include futura(13px, $black);
			background-color:$white;
			width:100% !important;
			margin-bottom:15px;
		}
		.selector{
			overflow: visible;
			select{
				margin-bottom:0px;
				height:40px;
				cursor: pointer;
				option{
					@include futura(13px, $black);
					padding:0 10px;
					text-transform: none;
				}
				optgroup{
					@include futuraBold(10px, $black);
					text-transform: uppercase;
					font-style:none;
					padding:0px 5px;
				}
			}
			span{
				position: relative;
				top: 2px;
			}
			&.parsley-error{
				border:1px solid $error;
				span{
					top:0px;
				}
			}
		}

	// When inline inputs and labels are needed
		.inline{
			@include clearfix();
			margin-bottom:15px;
			label, input, select, .selector{
				display:inline;
				margin-bottom: 0px;
				&[type='radio'], &[type='checkbox']{
					@include inline-block();
					cursor: pointer;
				}
			}
			.radio, .checker{
				margin-bottom:0px;
			}
			label{
				margin-right:15px;
				&.lineLabel{
					margin-right: 30px;
					@media only screen and (max-width:$tablet){
						display:block;
						width:100%;
						margin-bottom:15px;
					}
				}
			}
			input{
				&[type='text'], &[type='email'], &[type='password']{
					width:auto;
				}
			}

			.parsley-errors-list{
				position:relative;
				top:5px;
			}

			#feedback{
				clear:both;
				float:none;
				display:block;
			}

			@media only screen and (max-width: $tablet){
				label{
					margin-right:5px;
					&.lineLabel{
						margin-right:20px;
					}
				}
			}
		}

	// Rules when the form has a white background
		&.bgWhite{
			input{
				&[type='text'], &[type='email'], &[type='password']{
					background-color:$pale;
					border:1px solid #c0c0c0;
				}
				&:active, &:focus{
					outline:0px;
					border:1px solid $gold;
				}
			}
			select, .selector{
				background-color:$pale;
			}

			div#{$class-wrapper}#{$class-checkbox} {
				span {
					background-image:url("../img/uniform/spritePale.png");	
				}

			}

			/* Radio */

			div#{$class-wrapper}#{$class-radio} {
				span {
					background-image:url("../img/uniform/spritePale.png");	
				}
			}
		}

	// Form validation
		.parsley-errors-list{
			position:relative;
			padding:0px;
			top:-5px;
			display:block;
			clear:both;
			li{
				@include futura(12px, $error);
				margin:0px 0px 15px 0px;
			}
		}
}

// Specific forms
	#mainForm{
		margin-bottom:50px;
		border-left:1px solid #d5d5d5;
		position:relative;
		z-index:4;
		&.noBorder{
			border-left:0px;
		}
		#giftForm{
			.form{
				padding:0px;
			}
		}
		@media only screen and (max-width:$tablet){
			border:0px;
			margin-bottom:15px;
		}
	}

// Form structure tools
	.formHolder{
		@include clearfix();
		.head{
			@include clearfix();
			padding:30px 30px 0px 30px;
			h2, a{
				float:left;
			}
			h2{
				margin-right:10px;
			}
			a{
				@include inline-block();
				@include border-radius(3px);
				@include futuraBold(9px, $white);
				@include transition(all 300ms);
				line-height:2.3;
				text-decoration: none;
				background:$violet;
				text-transform: uppercase;
				padding:0px 10px;
				&:hover{
					background:$gold;
					color:$black;
				}
			}
		}
		
		h2{
			margin-bottom:10px;
			@include futura(20px, $violet);
		}
		> p{
			@include futura(11px, $black);
			text-transform: uppercase;
			margin-bottom:20px;
			&.right{
				float: none;
				clear:both;
				text-align: right;
			}
		}

		.form{
			padding:10px 30px 20px 30px;
			input[type="submit"]{
				margin-top:10px;
			}
		}
		.inline.footer{
			text-align:right;
			p{
				@include inline-block();
				margin-right:15px;
				&#total{
					@include futura(17px, #5b5959);
					text-transform: uppercase;
					margin:0 0 10px 0;
					span{
						@include futuraBold(17px, $violet);
					}
				}
			}
		}

		@media only screen and (max-width:$tablet){
			.inline.footer{
				text-align:left;
				p{
					display:block;
					margin-right:0px;
				}
				input{
					display:block;
					width:100%;
				}
			}
		}
	}
	.or{
		text-align:center;
		@include futuraBold(13px, $gold);
		text-transform: uppercase;
	}


// feedback
	.feedback{
		@include futura(15px, $violet);
		line-height:2;
		font-style: italic;
	}