.form{
	padding:30px;
	label{
		@include futura(14px, $black);
		display:block;
		margin-bottom:15px;
		&.inline{
			display: inline;
		}
	}

	input{
		&[type='text'], &[type='password']{
			@include box-shadow(0px 0px 0px transparent);
			@include border-radius(5px);
			@include futura(13px, $black);
			height:40px;
			-webkit-appearance: none;
			background:$white;
			border:0px;
			padding:0px 10px;
			margin-bottom:10px;
			display:block;
			width:100%;
			margin-bottom:15px;
			&:active, &:focus{
				outline:0px;
				border:1px solid $gold;
			}
			&.parsley-error{
				border:1px solid $error;
			}
			&.inline{
				@include inline-block();
			}
		}

		&.datepicker{
			padding-right:30px;
			background:$white url("../img/datepicker.png") center right no-repeat;
		}

		&[type='submit']{
			@include futuraBold(12px, $white);
			@include border-radius(3px);
			@include transition(all 300ms);
			border:0px;
			-webkit-appearance: none;
			background:$violet;
			text-transform: uppercase;
			text-align: center;
			padding:10px 40px;
			display:block;
			margin:20px auto 0px auto;
			cursor: pointer;
			&:hover{
				background:$gold;
				color:$black;
			}
		} 

		&[type='checkbox'], &[type='radio']{
			margin-bottom:15px;
		}
	}

	.radio, .checker{
		margin-bottom:15px;
		span.parsley-error{
			border:1px solid $error;
		}
	}
	.radio{
		span.parsley-error{
			@include border-radius(99px);
		}
	}

	select, .selector{
		@include border-radius(3px);
		@include futura(13px, $black);
		background-color:$white;
		width:100% !important;
		margin-bottom:15px;
	}

	.selector{
		overflow: visible;
		select{
			margin-bottom:0px;
			height:40px;
			cursor: pointer;
		}
		span{
			position: relative;
			top: 2px;
		}
		&.parsley-error{
			border:1px solid $error;
			span{
				top:0px;
			}
		}
	}

	.inline{
		@include clearfix();
		margin-bottom:15px;
		label, input, select, .selector{
			display:inline;
			margin-bottom: 0px;
		}
		.radio, .checker{
			margin-bottom:0px;
		}
		label{
			margin-right:15px;
			&.lineLabel{
				margin-right: 30px;
			}
		}

		.parsley-errors-list{
			position:relative;
			top:5px;
		}
	}

	&.bgWhite{
		input{
			&[type='text'], &[type='password']{
				background-color:$pale;
			}
		}
		select, .selector{
			background-color:$pale;
		}

		div#{$class-wrapper}#{$class-checkbox} {
			span {
				background-image:url("../img/uniform/spritePale.png");	
			}

		}

		/* Radio */

		div#{$class-wrapper}#{$class-radio} {
			span {
				background-image:url("../img/uniform/spritePale.png");	
			}
		}
	}

	.parsley-errors-list{
		position:relative;
		margin:0px 0px 15px 0px;
		padding:0px;
		top:-5px;
		display:block;
		clear:both;
		li{
			@include futura(12px, $error);
		}
	}
}