html, body{
	background:$white;
}

// Backgrounds
	.bgWhite{
		background-color:$white;
	}
	.bgPale{
		background-color:$pale;
	}
	.bgPattern{
		background:$pale url("../img/patternBack.png") center center repeat;
	}
	.bgBlack{
		background-color:#353534;
	}

// Rows
	.row{
		@include clearfix();
		width:100%;
		max-width:984px;
		position:relative;
		margin:0 auto;
		padding:0 15px;
		&.pad40{
			padding-top:40px;
		}
		&.pad30{
			padding-top:30px;
		}
		&.pad0{
			padding:0px;
		}
		&.table-large{
			display:table;
			.columns{
				display:table-cell;
				vertical-align: middle;
				float:none;
			}
			@media all and (max-width: $tablet){
				display:block;
				.columns{
					display:block;
				}
			}
		}
		&.table-medium{
			display:table;
			.columns{
				display:table-cell;
				vertical-align: middle;
				float:none;
			}
			@media all and (max-width: $mobile){
				display:block;
				.columns{
					display:block;
				}
			}
		}
		&.table-small{
			display:table;
			.columns{
				display:table-cell;
				vertical-align: middle;
				float:none;
			}
		}
		@media all and (max-width:$tablet){
			&.noPadMobile{
				padding:0px;
				.columns{
					padding:0px;
				}
			}
		}
	}

	.rowFluid{
		width:100%;
		@include clearfix;
		position:relative;
		&.pad40{
			padding:20px 0px 40px 0px;
		}
		&.pad30{
			padding:30px 0px;
		}
		&.mar60{
			margin-bottom:60px;
		}
		&.mar40{
			margin-bottom: 40px;
		}
	}

// Columns
	.columns{
		float:left;
		display:block;
		padding:0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		&.pad0{
			padding:0px;
		}
		&.padR{
			padding-right:10px;
		}
		&.padL{
			padding-left:10px;
		}

		@for $i from 1 through 12{
			&.small-#{$i}{
				width:(100%/12) * $i;	
			}
		}

		@for $i from 1 through 12{
			&.medium-#{$i}{
				width:(100%/12) * $i;	
			}
		}

		@for $i from 1 through 12{
			&.large-#{$i}{
				width:(100%/12) * $i;	
			}
		}

		@for $i from 1 through 12{
			&.large-pull-#{$i}{
				position:relative;
				left:-(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.large-push-#{$i}{
				position:relative;
				left:(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.medium-pull-#{$i}{
				position:relative;
				left:-(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.medium-push-#{$i}{
				position:relative;
				left:(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.small-pull-#{$i}{
				position:relative;
				left:-(100%/12) * $i;
			}
		}
		@for $i from 1 through 12{
			&.small-push-#{$i}{
				position:relative;
				left:(100%/12) * $i;
			}
		}

		&.centered{
			float:none !important;
			margin:0 auto;
			position:relative;
		}


		@media all and (max-width: $tablet){
			&.mpad0{
				padding:0px;
			}
			&[class^=large-]{
				width:100%;
				padding:0px;
			}
			@for $i from 1 through 12{
				&.large-pull-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.large-push-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.small-#{$i}{
					width:(100%/12) * $i;	
				}
			}

			@for $i from 1 through 12{
				&.medium-#{$i}{
					width:(100%/12) * $i;	
				}
			}

		}
		@media all and (max-width: $mobile){
			&[class^=large-]{
				width:100%;
				padding:0px;
			}

			&[class^=medium-]{
				width:100%;
				padding:0px;
			}

			@for $i from 1 through 12{
				&.medium-pull-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.medium-push-#{$i}{
					position:static;
					left:auto;
				}
			}
			@for $i from 1 through 12{
				&.small-#{$i}{
					width:(100%/12) * $i;	
				}
			}

		}
	}

// Reveal
	@media all and (max-width: $tablet){
		.toReveal{
			@include transition(all 300ms);
			max-height:0px;
			overflow:hidden;
			&.show{
				max-height:999px;
			}
		}
	}