// Map styles

.mapWrap{
	@include clearfix();
	background:$violet;
	margin:20px 0px 30px 0px;
	.left, .right{
		float:left;
	}
	.left{
		width:30%;
		display:block;
		line-height: 300px;
		position:relative;
		.contents{
			@include inline-block();
			width:100%;
			line-height: 1;
			vertical-align: middle;
		}
		&:after{
			@include PE();
			right:-10px;
			top:50%;
			margin-top:-10px;
			border-top:10px solid transparent;
			border-left:10px solid $violet;
			border-bottom:10px solid transparent;
			z-index:2;
		}
	}
	.right{
		width:70%;
	}

	@media only screen and (max-width:$tablet){
		.left{
			width:40%;
		}
		.right{
			width:60%;
		}
	}

	@media only screen and (max-width:$mobile){
		.left, .right{
			width:100%;
			float:none;
		}
		.left{
			line-height:170px;
			&::after{
				top:auto;
				bottom:-10px;
				right:auto;
				left:50%;
				margin-top:0px;
				margin-left:-10px;
				border-top:10px solid $violet;
				border-left:10px solid transparent;
				border-right:10px solid transparent;
				border-bottom:0px solid transparent;
			}
		}
	}
}

.whiteCenter{
	@include inline-block();
	width:100%;
	padding:30px 15px;
	text-align:center;
	line-height:1;
	vertical-align:middle;
	h2{
		color:$white;
		position:relative;
		margin-bottom:15px;
		&:after{
			@include PE();
			width:20px;
			height:3px;
			background:$white;
			left:50%;
			top:auto;
			bottom:-8px;
			margin-left:-10px;
		}
	}
	p{
		@include futura(15px, $white);
		line-height:1.5;
		margin-bottom:20px;
	}
}