.popIn{
	padding:70px 50px;
	header{
		position:absolute;
		top:0px;
		left:0px;
		z-index:1;
		h4{
			display:block;
			float:left;
			height:40px;
			line-height:40px;
			@include futura(16px, $white);
			text-transform: uppercase;
			background:$violet;
			padding:0px 15px;
		}
		img{
			display:block;
			float:left;
			width:40px;
			height:40px;
			background:#d8d8d8;
		}
	}

	p{
		margin-bottom:15px;
	}

	.form{
		margin-bottom:0px;
		h3{
			margin-top:15px;
		}
	}
}