.push{
	background:$white;
	margin-bottom:15px;
	.bgWhite &{
		background:$pale;
		.contents{
			h3{
				background:$pale;
			}
		}
	}
	> a img{
		width:100%;
		display:block;
	}
	.contents{
		position:relative;
		padding:30px 20px;
		h3{
			display:block;
			height:65px;
			text-align:center;
			line-height:65px;
			position:absolute;
			top:-40px;
			left:5%;
			width:90%;
			background:$white;
			a{
				@include futura(18px, #5b5959);
				@include inline-block();
				vertical-align: middle;
				line-height:20px;
				text-decoration: none;
				padding:0 15px;
				&:hover{
					color:$violet;
				}
			}
		}
		p{
			@include helvetica(11px, #5b5959);
			line-height:1.6;
			height:70px;
			overflow: hidden;
			margin-bottom:15px;
		}
		&.noPrice{
			p{
				height:120px;
				margin-top:20px;
			}
		}
		p.price{
			@include border-radius(99px);
			@include futuraBold(15px, $white);
			text-transform: uppercase;
			height:55px;
			width:90%;
			max-width:55px;
			margin:0 auto 15px auto;
			line-height:55px;
			text-align:center;
			background:$violet;
		}
	}
	.more{
		display:block;
		clear:both;
		float:none;
		width:100%;
		overflow:hidden;
		text-indent:-999px;
		background:url("../img/moreArrowSmall.png") center right no-repeat;
		&:hover{
			background:url("../img/moreArrowSmallHover.png") center right no-repeat;
		}
	}

	@media only screen and (max-width:$tablet){
		display:table;
		background:$pale;
		vertical-align: middle;
		> a, .contents{
			display:table-cell;
			vertical-align: middle;
		}
		>a{
			width:40%;
		}
		.contents{
			padding:0px;
			padding-left:30px;
			h3{
				position:static;
				height:auto;
				width:100%;
				line-height:1;
				background:transparent;
				text-align:left;
				margin-bottom:5px;
				padding:0px 15px;
				a{
					padding:0px;
					display:block;
				}
			}
			p{
				display:none;
			}
			p.price{
				display:block;
				position:absolute;
				left:-27.5px;
				top:50%;
				margin-top: -27.5px;
			}
		}
		.infoList{
			margin-bottom:5px;
			li{
				&.time{
					float:none;
					clear:both;
					margin-bottom:5px;
				}
			}
		}
		.more{
			position:absolute;
			top:50%;
			right:5px;
			width:40px;
			height:40px;
			margin-top:-20px;
		}
	}
}