.recap{
	display:table;
	background:$white;
	position:relative;
	margin:0px 0px 15px 0px;
	width:100%;
	.image, .description{
		display:table-cell;
		vertical-align: middle;
	}
	.image{
		img{
			display:block;
		}
	}
	.description{
		padding:20px 120px 20px 15px;
		position:relative;
		h3{
			@include futuraBold(15px, #5b5959);
			text-transform: uppercase;
			margin:0 0 10px 0px;
		}
		p{
			@include helvetica(12px, $black);
			line-height:1.7;
			height:37px;
			overflow: hidden;
			margin-bottom:10px;
			&.price{
				width:70px;
				height:70px;
				line-height:70px;
				@include border-radius(99px);
				background:$violet;
				margin:0px;
				position:absolute;
				right:15px;
				top:50%;
				margin-top:-35px;
				text-align: center;
				@include futuraBold(16px, $white);
				letter-spacing: -1px;
			}
		}
		.infoList{
			margin:0px;
		}
	}
	.tools{
		position:absolute;
		top:5px;
		right:5px;
		.remove{
			@include transition(all 300ms);
			display:block;
			opacity: 0;
			width:20px;
			height:20px;
			overflow: hidden;
			text-indent: -999px;
			position:relative;
			&:after{
				@include PE();
				content:"x";
				color:$violet;
				font-size:20px;
				text-indent: 0px;
				width:20px;
				height:20px;
				top:0px;
				left:0px;
				@include futura(20px, $violet);
			}
		}
	}

	&:hover{
		.tools{
			.remove{
				opacity:1;
			}
		}
	}


	@media only screen and (max-width:$tablet){
		.description{
			padding:10px 15px 10px 35px;
			h3{
				margin-bottom:5px;
			}
			.infoList{
				margin:0px;
				padding:0px;
			}
			p{
				display:none;
				&.price{
					display:block;
					right:auto;
					left:-55px;
				}
			}
		}
		.tools{
			.remove{
				opacity: 1;
			}
		}
	}
}