.flexslider{
	*{
		vertical-align: top;
	}
	.caption{
		position:absolute;
		bottom:-5px;
		background:$white;
		width:95%;
		max-width:420px;
		margin-left:-200px;
		left:50%;
		padding:20px 60px 0px;
		h3{
			@include futuraBold(22px, $black);
			text-transform: uppercase;
			letter-spacing:0px;
			text-align:center;
			margin-bottom:5px;
		}
		p{
			@include futura(12px, $black);
			text-align:center;
		}
		> a{
			@include border-radius(99px);
			@include transition(all 300ms);
			position:absolute;
			right:10px;
			top:50%;
			width:35px; 
			height:35px;
			overflow:hidden;
			text-indent: -999px;
			margin-top:-17.5px;
			border:1px solid $violet;
			background:$violet url("../img/seeMore.png") center center no-repeat;
			&:hover{
				background-color:$gold;
				border-color:$gold;
			}
		}
	}

	// Specific sliders

		// main (homepage)
			&#mainSlider{
				margin:0px;
				padding-bottom:50px;
				.flex-control-nav{
					bottom:15px;
				}
				&.noCaptions{
					padding-bottom:0px;
				}
			}

			@media only screen and (max-width:$tablet){
				.caption{
					position:relative;
					left:0px;
					bottom:0px;
					top:-10px;
					margin:0px auto;
					h3{
						font-size:14px;
					}
				}
				&#mainSlider{
					padding-bottom:30px;
					margin-bottom:10px;
					.flex-control-nav{
						bottom:10px;
						z-index:3;
					}
					&.noCaptions{
						padding-bottom:0px;
						margin-bottom:0px;
					}
				}
			}

		// Soin (homepage)

			&#soinSlider{
				.content{
					position:relative;
					padding-right:30px;
					padding-top:30px;
					h3{
						@include futuraBold(13px, $violet);
						margin-bottom: 10px;
						a{
							color:$violet;
							text-decoration: none;
						}
						@media only screen and (max-width:$tablet){
							padding:0px 15px;
						}
					}
					p{
						@include futura(12px, #5b5959);
						line-height:1.8;
						max-height:109px;
						overflow: hidden;
						position:relative;
						margin-bottom:15px;
						&.price{
							@include border-radius(99px);
							@include futuraBold(15px, $white);
							text-transform: uppercase;
							height:50px;
							width:50px;
							line-height:50px;
							text-align:center;
							position:absolute;
							top:-25px;
							left:50%;
							margin:0px 0px 0px -25px;
							background:$violet;
						}

						@media only screen and (max-width:$tablet){
							max-height:40px;
							padding:0px 15px;
							&.price{
								max-height: 50px;
								padding:0px;
								margin-left:-25px;
							}
						}
					}
					.infoList{
						margin-bottom:5px;
						@media only screen and (max-width:$tablet){
							padding:0px 15px;
						}
						li{
							float:left;
							margin-right:10px;
							height:16px;
							line-height:20px;
							position:relative;
							&.time{
								@include futura(11px, #7a7878);
								line-height: 16px;
								padding-left:23px;
								&:before{
									@include PE();
									width:16px;
									height:16px;
									left:0px;
									margin-top:-8px;
									background:url("../img/clock.png") left center no-repeat;
								}
							}
							&.book, &.offer{
								a{
									display:block;
									@include futuraBold(10px, $violet);
									@include transition(all 300ms);
									text-transform: uppercase;
									padding-left:23px;
									text-decoration: none;
									&:hover, &:focus{
										text-decoration:underline;
									}
								}
							}
							&.book{
								a{
									&:before{
										@include PE();
										width:15px;
										height:13px;
										left:0px;
										margin-top:-6.5px;
										background:url("../img/bookSmall.png") 0px 0px no-repeat;
									}
								}
							}
							&.offer{
								a{
									&:before{
										@include PE();
										width:14px;
										height:15px;
										left:0px;
										margin-top:-7.5px;
										background:url("../img/giftSmall.png") 0px 0px no-repeat;
									}
								}
							}
						}
					}
					.more{
						display:block;
						clear:both;
						float:none;
						width:100%;
						overflow:hidden;
						text-indent:-999px;
						background:url("../img/moreArrowSmall.png") center right no-repeat;
						&:hover{
							background:url("../img/moreArrowSmallHover.png") center right no-repeat;
						}
					}

					@media only screen and (max-width:$tablet){
						padding:30px 0px;
					}
				}
			}

		// Gallery
			&.gallerySlider{
				.flex-direction-nav{
					li{
						a{
							background:$violet;
							opacity:1;
							overflow: hidden;
							text-indent:999px;
							height:40px;
							width:40px;
							background:$violet url('../img/spriteSliderXL.png') no-repeat;
							&:before{
								display:none;
							}
							&.flex-prev{
								left:0px;
								background-position:0px 0px;
								&:hover{
									background-position:0px -40px;
								}
							}
							&.flex-next{
								right:0px;
								background-position:-40px 0px;
								&:hover{
									background-position:-40px -40px;
								}
							}
						}
					}
				}

				.slides{
					li{
						position:relative;
						p{
							background:#d8d8d8;
							@include futura(14px, $black);
							height:30px;
							line-height:30px;
							padding:0 25px 0 10px;
							white-space: no-wrap;
							position:absolute;
							bottom:0px;
							left:0px;
							width:100%;
							margin:0px;
						}
						.embed-container { 
							position: relative; 
							padding-bottom: 56.25%; 
							height: 0; 
							overflow: hidden; 
							max-width: 100%; 
							height: auto; 
						} 
						.embed-container iframe, .embed-container object, .embed-container embed { 
							position: absolute; 
							top: 0; 
							left: 0; 
							width: 100%; 
							height: 100%; 
						}
					}
				}

				.count{
					display:block;
					background:#d8d8d8;
					width:80px;
					height:30px;
					line-height:30px;
					text-align: center;
					position:absolute;
					bottom:0px;
					right:0px;
					padding:0px 15px;
					z-index:99;
					margin:0px;
					@include futuraBold(13px, $violet);
					letter-spacing: -2px;
				}

				&#videoSlider{
					.count{
						bottom:-30px;
						right:50%;
						margin-right:-40px;
					}
				}

				@media only screen and (max-width:$tablet){
					margin-bottom:0px;
					.flex-direction-nav{
						li{
							a{
								top:auto;
								bottom:-60px;
							}
						}
					}
					.count{
						bottom:-30px;
						right:50%;
						margin-right:-40px;
					}
				}
			}

			&.galleryNav{
				margin-bottom:0px;
				background:transparent;
				.flex-direction-nav{
					li{
						a{
							background:$violet;
							opacity:1;
							overflow: hidden;
							text-indent:999px;
							height:40px;
							width:40px;
							background:$violet url('../img/spriteSliderXL.png') no-repeat;
							&.flex-disabled{
								opacity:1 !important;
							}
							&:before{
								display:none;
							}
							&.flex-prev{
								left:-45px;
								background-position:0px 0px;
								&:hover{
									background-position:0px -40px;
								}
							}
							&.flex-next{
								right:-45px;
								background-position:-40px 0px;
								&:hover{
									background-position:-40px -40px;
								}
							}
						}
					}
				}

				.slides{
					li{
						@include transition(all 300ms);
						position:relative;
						padding:5px;
						opacity:0.7;
						cursor: pointer;
						&.flex-active-slide{
							opacity:1;
							background:$violet;
						}
						p{
							background:#d8d8d8;
							@include futura(14px, $black);
							height:30px;
							line-height:30px;
							padding:0 25px 0 10px;
							white-space: no-wrap;
							position:absolute;
							bottom:0px;
							left:0px;
							width:100%;
							margin:0px;
						}
					}
				}

				@media only screen and (max-width:$tablet){
					display:none;
				}
			}
}

// External navigation
	#pushOffers{
		position:relative;
		.flex-direction-nav{
			position:absolute;
			top:0px;
			right:0px;
			height:40px;
			@include clearfix();
			li{
				line-height:40px;
				display:block;
				height:40px;
				float:left;
				width:40px;
				text-align:center;
				a.flex-prev, a.flex-next{
					position:static;
					opacity:1;
					text-indent:-999px;
					overflow:hidden;
					height:20px;
					width:20px;
					@include inline-block();
					background-image:url('../img/spriteSlider.png');
					@include transition(all 0ms);
					margin:0px auto;
					vertical-align: middle;
				}
				a.flex-prev{
					background-position:0px 0px;
					&:hover{
						background-position:0px -20px;
					}
				}
				a.flex-next{
					background-position:-20px 0px;
					&:hover{
						background-position:-20px -20px;
					}
				}
			}
		}
	}

	.synchSlider{
		padding:0px 45px;
	}