.tabs{
	@include clearfix();
	min-height:300px;
	overflow:hidden;
	margin:30px 0px;
	position:relative;
	dt{
		//@include inline-block();
		height:70px;
		vertical-align: middle;
		display:block;
		float:left;
		width:20%;
		a{
			display:block;
			height:70px;
			line-height:70px;
			padding:0px 15px;
			@include futuraBold(11px, $white);
			text-transform: uppercase;
			text-decoration: none;
			text-align:center;
			background:$violet;
			&:hover, &.active{
				background:#c789a0;
				position:relative;
				&:after{
					@include PE();
					width:20px;
					height:2px;
					background:$white;
					top:auto;
					bottom:20px;
					left:50%;
					margin-left:-10px;
				}
			}
			span{
				@include inline-block();
				line-height:1;
				vertical-align: middle;
			}
		}
	}
	dd{
		display:none;
		position:absolute;
		top:70px;
		left:0px;
		width:100%;
		&.active{
			display:block;
		}
	}

	@media only screen and (max-width: $tablet){
		height:auto !important;
		dt{
			display:block;
			width:100%;
			float:none;
			clear:both;
			border-bottom:2px solid $white;
			margin-bottom:2px;
			a{
				text-align:left;
				background:$violet url("../img/tab.png") center right no-repeat;
				&:hover, &.active{
					background:$violet url("../img/tab.png") center right no-repeat;
					&:after{
						left:15px;
						margin-left:0px;
					}
				}
				&.active{
					background:$violet url("../img/tabActive.png") center right no-repeat;
				}
			}
		}
		dd{
			@include transition(all 300ms);
			position:static;
			top:0px;
			left:0px;
			display:block;
			max-height:0px;
			overflow: hidden;
			&.active{
				max-height:9999px;
			}
		}
	}
}