// Section headers
.headerGroup{
	@include clearfix();
	border-bottom:1px solid #d8d8d8;
	position:relative;
	margin-bottom:15px;
	h2{
		@include futura(15px, #5b5959);
		float:left;
		padding-right:50px;
		line-height:22px;
		margin-bottom:5px;
	}
	.more{
		@include futura(12px, $violet);
		text-decoration: none;
		padding-right:15px;
		background:url("../img/moreArrowSmall.png") center right no-repeat;
		position:absolute;
		right:0px;
		bottom:0px;
		line-height: 29px;
		&:hover{
			color:$black;
			background:url("../img/moreArrowSmallHover.png") center right no-repeat;
		}
	}
	p.more{
		color:#5b5959;
		padding:0px;
		background:transparent;
	}

}


// Info card
.vCard{
	padding:20px;
	margin-bottom:40px;
	dt{
		@include futura(15px, $violet);
		text-transform: uppercase;
	}
	dd{
		@include futura(14px, #5b5959);
		&.email{
			margin-bottom:10px;
		}
		&.address{
			margin-top:10px;
			line-height:1.2;
		}
	}
}

// No history
.noHistory{
	padding:30px 0px;
	text-align:center;
	h3{
		@include futura(20px, $gold);
		margin:10px 0px 20px 0px;
	}
	.messageNav{
		text-align: center;
		.button{
			margin:0px 0 40px 0px;
			background:$pale;
			&:hover{
				background:$violet;
			}
		}
	}
}


// Forms
.form.user{
	@include border-radius(3px);
	padding:20px 15px 20px 15px;
	margin-bottom:30px;
}