// Section headers
.headerGroup{
	@include clearfix();
	border-bottom:1px solid #d8d8d8;
	position:relative;
	margin-bottom:15px;
	h2{
		@include futura(15px, #5b5959);
		float:left;
		padding-right:50px;
		line-height:22px;
		margin-bottom:5px;
	}
	.more{
		@include futura(12px, $violet);
		text-decoration: none;
		padding-right:15px;
		background:url("../img/moreArrowSmall.png") center right no-repeat;
		position:absolute;
		right:0px;
		bottom:0px;
		line-height: 29px;
		&:hover{
			color:$black;
			background:url("../img/moreArrowSmallHover.png") center right no-repeat;
		}
	}
	p.more{
		color:#5b5959;
		padding:0px;
		background:transparent;
	}

}

// Product history
#history{
	.product.recap{
		background:$pale;
		table-layout:fixed;
		.image{
			width:40%;
			padding:0px 5px;
			img{
				width:100%;
			}
		}
		.description{
			width:60%;
			padding:5px 10px;
			h3{
				margin-bottom: 5px;
			}
			.infoList{
				li{
					margin-bottom:5px;
					line-height:18px;
					&.time{
						font-family:'futuraBold';
						text-transform: uppercase;
						font-size:10px;
						&:before{
							margin-top:-9px;
						}
					}
				}
			}
		}
		&:last-child{
			margin-bottom:40px;
		}
	}
}


// Info card
.vCard{
	padding:20px;
	margin-bottom:40px;
	dt{
		@include futura(15px, $violet);
		text-transform: uppercase;
	}
	dd{
		@include futura(14px, #5b5959);
		&.email{
			margin-bottom:10px;
		}
		&.address{
			margin-top:10px;
			line-height:1.2;
		}
	}
}

// No history
.noHistory{
	padding:30px 0px;
	text-align:center;
	h3{
		@include futura(20px, $gold);
		margin:10px 0px 20px 0px;
	}
	.messageNav{
		text-align: center;
		.button{
			margin:0px 0 40px 0px;
			background:$pale;
			&:hover{
				background:$violet;
			}
		}
	}
}


// Forms
.form.user{
	@include border-radius(3px);
	padding:20px 15px 20px 15px;
	margin-bottom:30px;
}

// Load more
.loadMore{
	@include futuraBold(12px, $white);
	text-transform:uppercase;
	display:block;
	border:0px;
	background:$violet;
	overflow:hidden;
	width:100%;
	text-align:center;
	height:30px;
	line-height:20px;
	padding:0px 20px;
	cursor:pointer;
	position:relative;
	@include transition(all 300ms ease-out);
	margin-bottom:30px;
	&:after{
		@include PE();
		@include transition(all 300ms);
		width:8px;
		height:5px;
		background:url("../img/smallDownArrow.png") center center no-repeat;
		opacity:0;
		right:20px;
		margin-top:-3.5px;
	}

	&:hover{
		padding-right:30px;
		background:$gold;
		color:$black;
		&:after{
			opacity:1;
			right:15px;
		}
	}
}

// Certificate
.certificate{
	display:table;
	width:100%;
	margin-bottom:15px;
	height:135px;
	table-layout:fixed;
	.validity{
		background:$violet;
		text-align:center;
		display:table-cell;
		vertical-align: middle;
		width:30%;
		h3{
			@include futuraBold(12px, $white);
			margin: 5px 0px;
		}
		p{
			@include futura(13px, $white);
		}
	}
	.description{
		background:$pale;
		display:table-cell;
		vertical-align: middle;
		padding:25px 20px;
		width:70%;
		dl{
			display:block;
			@include clearfix();
			dt, dl{
				float:left;
				margin:0px;
				display:block;
				&.last{
					float: none;
				}
			}
			dt{
				@include futura(12px, $black);
				line-height: 16px;
				text-transform: uppercase;
				&.first{
					font-size:15px;
					line-height: 16px;
				}
			}
			dd{
				@include futuraBold(11px, $black);
				line-height: 14px;
				padding-left:5px;
				position:relative;
				top:1px;
				left:3px;
				text-transform: uppercase;
				&.first{
					font-size:14px;
					line-height:14px;
					top:1px;
				}
				&.separate{
					clear:both;
					float:none;
					width:100%;
					height:5px;
				}
			}
		}
	}

	@media only screen and (max-width:$tablet){
		.validity{
			padding:0px
		}
		.description{
			dl{
				dt, dd{
					float:none;
					clear:both;
				}
				dd{
					margin-bottom:5px;
					&:last-child{
						margin-bottom: 0px;
					}
				}
			}
		}
	}
}

#history{
	margin-bottom:30px;
	.certificate{
		opacity:0.7;
	}
}
#current{
	margin-bottom:30px;
}

// Counters
p.counter{
	display:block;
	margin-bottom:15px;
	height:70px;
	line-height:70px;
	white-space:nowrap;
	.bubble{
		@include border-radius(99px);
		@include inline-block();
		@include futuraBold(30px, $white);
		letter-spacing: -1px;
		width:70px;
		height:70px;
		background:$gold;
		line-height:70px;
		text-align: center;
		vertical-align: middle;
		position:relative;
		&:after{
			@include PE();
			@include border-radius(99px);
			width:74px;
			height:74px;
			background:transparent;
			border:1px solid $gold;
			top:-3px;
			left:-3px;

		}
	}
	.copy{
		@include inline-block();
		text-transform: uppercase;
		@include futura(28px, #5b5959);
		vertical-align: middle;
		line-height:1;
		padding-left:15px;
	}
}