.coverImage{
	width:100%;
}

// Content straight from text editor
	.wysiwyg{
		padding:0px 25px;
		margin-bottom:15px;

		h1{
			@include futura(24px, $violet);
			margin-bottom:20px;
			line-height:1.3;
		}

		p{
			@include helvetica(16px, #5b5959);
			line-height:1.7;
			margin-bottom:10px;
		}

		.infoList{
			margin-bottom:35px;
			li{
				float:left;
				margin-right:10px;
				height:16px;
				line-height:20px;
				position:relative;
				.addthis_sharing_toolbox{
					position: relative;
					top: -1px;
				}
				&.time{
					@include futura(11px, #7a7878);
					line-height: 16px;
					padding-left:23px;
					&:before{
						@include PE();
						width:16px;
						height:16px;
						left:0px;
						margin-top:-8px;
						background:url("../img/clock.png") left center no-repeat;
					}
				}
				&.book, &.offer{
					a{
						display:block;
						@include futuraBold(10px, $violet);
						@include transition(all 300ms);
						text-transform: uppercase;
						padding-left:23px;
						text-decoration: none;
						&:hover, &:focus{
							text-decoration:underline;
						}
					}
				}
				&.book{
					a{
						&:before{
							@include PE();
							width:15px;
							height:13px;
							left:0px;
							margin-top:-6.5px;
							background:url("../img/bookSmall.png") 0px 0px no-repeat;
						}
					}
				}
				&.offer{
					a{
						&:before{
							@include PE();
							width:14px;
							height:15px;
							left:0px;
							margin-top:-7.5px;
							background:url("../img/giftSmall.png") 0px 0px no-repeat;
						}
					}
				}
				&.networks{
					padding-left:23px;
					&:before{
						@include PE();
						width:14px;
						height:15px;
						left:0px;
						margin-top:-7.5px;
						background:url("../img/shareSmall.png") 0px 0px no-repeat;
					}
					.addthis_20x20_style{
						.at15t_facebook{
							background:url("../img/fbSprite.png") top left no-repeat !important;
							&:hover{
								background-position:bottom left !important;
							}
						}
						.at15t_twitter{
							background:url("../img/twitterSprite.png") top left no-repeat !important;
							&:hover{
								background-position:bottom left !important;
							}
						}
						.at15t_print{
							background:url("../img/printSprite.png") top left no-repeat !important;
							&:hover{
								background-position:bottom left !important;
							}
						}
					}
				}
			}
		}

		&.article{
			padding:10px;
			
			h2{
				@include futura(20px, $violet);
				margin:0px 0px 15px 0px;
			}
			h3{
				@include futura(15px, $violet);
				margin:20px 0px 15px 0px;
			}
			h4, h5, h6{
				@include futuraBold(11px, $black);
				margin:20px 0px 15px 0px;
			}

			p{
				@include helvetica(14px, #5b5959);
				margin-bottom:10px;
				line-height: 1.4;
				a{
					@include helvetica(14px, $violet);
					&:hover{
						color:$black;
					}
				}
				em{
					font-style: italic;
				}
				strong{
					font-family:'futuraBold';
				}
				&:last-child{
					margin-bottom: 0px;
				}
			}

			img{
				&.alignLeft{
					float:left;
					display:table;
					position:relative;
					left:-10px;
					margin:0px 5px 10px 0px;
				}
				&.alignRight{
					float:right;
					display:table;
					position:relative;
					right:-10px;
					margin:0px 0px 10px 5px;
				}

				&.hero{
					width:100%;
					display:block;
					margin:0 0 30px 0;
				}

				@media only screen and (max-width:$tablet){
					width:90%;
					margin:10px 5% 20px 5%;
					&.alignRight, &.alignLeft{
						float:none;
						display:block;
						left:0px;
						right:0px;
						margin:10px 5% 20px 5%;
					}
					&.hero{
						width:100%;
					}
				}
			}

			@media only screen and (max-width:$tablet){
				padding:10px 20px;
			}
		}

		&.message{
			padding:20px;
			@extend .wysiwyg.article;
			h4{
				text-transform: none;
				color:$violet;
				font-size:15px;
				margin-bottom:20px;
			}
		}

		&.info{
			position:relative;
			border:1px solid $gold;
			margin:0px 0px 40px 30px;
			padding:20px 20px 20px 60px;
			p{
				font-size:14px;
			}
			h3{
				@include border-radius(99px);
				width:60px;
				height:60px;
				background:$gold;
				line-height: 60px;
				@include futuraBold(12px, $white);
				text-transform: uppercase;
				text-align:center;
				position:absolute;
				top:50%;
				left:-30px;
				margin-top:-30px;
				&:after{
					@include PE();
					@include border-radius(99px);
					width:64px;
					height:64px;
					background:transparent;
					border:1px solid $gold;
					top:-3px;
					left:-3px;

				}
			}
			@media only screen and (max-width:$tablet){
				padding:40px 20px 20px 20px;
				margin:50px 0 30px 0px;
				p{
					text-align:center;
					font-size:13px;
				}
				h3{
					left:50%;
					margin-left:-30px;
					top:-30px;
					margin-top:0px;
				}
			}
		}

		@media only screen and (max-width:$tablet){
			padding:0px;
		}

	}

// Team list
	.team{
		li{
			@include clearfix();
			background:$white;
			padding:10px;
			position:relative;
			&:nth-child(odd){
				background:$pale url("../img/patternBack.png") center center repeat;
			}
			.picture, .content{
				float:left;
			}
			.picture{
				width:25%;
				padding-right:10px;
				img{
					width:100%;
				}
			}
			.content{
				width:75%;
				padding:5px 10px;
				h3{
					@include futuraBold(14px, $violet);
					text-transform: uppercase;
					margin-bottom: 5px;
				}
				h4{
					@include futura(14px, $gold);
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				p{
					@include helvetica(14px, $black);
					line-height:1.3;
				}
			}
		}

		@media only screen and (max-width:$tablet){
			li{
				.picture{
					display:none;
				}
				.content{
					float:none;
					width:100%;
				}
			}
		}
	}

	.press{
		@extend .team;
		.more{
			display:block;
			clear:both;
			float:none;
			width:100%;
			overflow:hidden;
			text-indent:-999px;
			background:url("../img/moreArrowSmall.png") center right no-repeat;
			position:absolute;
			bottom:20px;
			right:20px;
			&:hover{
				background:url("../img/moreArrowSmallHover.png") center right no-repeat;
			}
		}
	}

// Content for the product details
	.bigInfos{
		display:table;
		height:130px;
		li{
			display:table-cell;
			vertical-align: middle;
			text-align:center;
			&.price{
				background:#8d0e3a;
				width:30%;
				@include futuraBold(28px, $white);
				span{
					display:block;
					@include futura(20px, $white);
					margin-bottom: 5px;
					text-transform: uppercase;
				}
			}
			&.time{
				background:#a8335c;
				width:30%;
				@include futura(20px, $white);
				span{
					display:block;
					width:24px;
					height:26px;
					background:url("../img/alarm.png") center center no-repeat;
					margin:0 auto 5px auto;
				}
			}
			&.infos{
				background:#d8d8d8;
				.picto{
					margin-bottom:5px;
				}
				p{
					padding:0px 10px;
					@include futura(12px, #3b3b3b);
					text-transform: uppercase;
					opacity:0.8;	
				}
			}
		}

		@media only screen and (max-width:$tablet){
			display:block;
			height:auto;
			li{
				display:block;
			}
			li.price, li.time{
				width:50%;
				float:left;
				padding:25px 0px;
				height:100px;
			}
			li.infos{
				clear:both;
				float:none;
				width:100%;
				padding:25px 0px;
			}
		}
	}

// Message navigation (what's after confirmation messages)
	.messageNav{
		text-align:right;
		.popIn &{
			padding-top:40px;
		}
	}
	a.button{
		@include inline-block();
		@include futuraBold(13px, $violet);
		@include transition(all 300ms);
		text-transform: uppercase;
		text-decoration: none;
		height:40px;
		line-height: 40px;
		padding:0px 10px 0px 50px;
		background:$white;
		position:relative;
		margin:0px 0px 15px 15px;
		&:before{
			@include PE();
			width:40px;
			height:40px;
			left:0px;
			top:0px;
			background:$violet;
		}
		&:hover{
			background:$violet;
			color:$white;
		}
		&.book{
			&:before{
				background:$violet url('../img/hangerWhite.png') center center no-repeat;
			}
		}
		&.account{
			&:before{
				background:$violet url('../img/userWhite.png') center center no-repeat;
			}
		}

		&.left{
			float:left;
		}

		@media only screen and (max-width:$tablet){
			display:block;
			width:100%;
			text-align:center;
			margin:15px 0px;
			&.left{
				float:none;
			}
		}
	}