---
title: Project's hive
---

<!-- Sur cette page, l'ensemble des blocs utilisés sur le site sont répertoriés -->
	<div class="row">
		<form class="form bgPattern" action="" data-parsley-validate data-parsley-trigger="change focusout">
			<label>Test Text</label>
			<input type="text" data-parsley-required name="testText" />

			<label>Test Email</label>
			<input type="text" data-parsley-required data-parsley-type="email" name="testEmail" />

			<label>Test Password</label>
			<input type="password" data-parsley-required data-type="password" name="testEmail" />

			<label>Test datepicker</label>
			<input type="text" class="datepicker" data-parsley-required data-parsley-pattern="\d{2}\/\d{2}\/\d{4}" name="testDate" />


			<label>Test radios</label>
			<input type="radio" name="testradio" value="Mr."/>
			<input type="radio" name="testradio" value="Mme."/>

			<div class="inline">
				<fieldset>
					<label class="lineLabel">Je souhaite</label>
					<input type="radio" data-parsley-required name="choice" value="book" id="book" /> <label for="book">réserver</label>
					<input type="radio" data-parsley-required name="choice" value="gift" id="gift"/> <label for="gift">offrir</label>
				</fieldset>
			</div>

			<fieldset>
				<label>Test checkboxes</label>
				<input type="checkbox" name="testCheck" value="Mr." data-parsley-mincheck="1" data-parsley-required/> 
				<input type="checkbox" name="testCheck" value="Mme." data-parsley-required/>
			</fieldset>

			<label>Test select</label>
			<select name="testSelect" data-parsley-required>
				<option value="">Choisissez...</option>
				<optgroup label="Group of options">
					<option value="test">Option</option>
					<option value="test">Option</option>
					<option value="test">Option</option>
				</optgroup>
			</select>

			<label>test split</label>
			<div class="row">
				<div class="large-5 columns pad0">
					<input type="text" class="datepicker" data-parsley-required name="testDate2" />
				</div>
				<div class="large-7 columns pad0 padL mpad0">
					<select name="testSelect2" data-parsley-required data-parsley-pattern="\w+">
						<option value="">Choisissez...</option>
						<optgroup label="Group of options">
							<option value="test">Option</option>
							<option value="test">Option</option>
							<option value="test">Option</option>
						</optgroup>
					</select>
				</div>
			</div>

			<input type="submit" value="valider" />
		</form>
	</div>